# Ollama URL for the backend to connect
# The path '/ollama' will be redirected to the specified backend URL
OLLAMA_BASE_URL='http://localhost:11434'

OPENAI_API_BASE_URL='https://api.openai.com/v1'
OPENAI_API_KEY='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'

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false
